/* --- RESET --- */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}


/*////////////////////////////////HOME*/


.header-background{
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(30%);
}

.eslogan-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.signup-btn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin-top: 40px;
    border: 1px solid white;
    font-size: 1.3rem;
    background-color: rgba(255,255,255, 0.2)
}

.faqs-link {
    text-decoration: none;
    margin-top: 90px;
    color: white;
    font-size: 20px;
}

.navbar{
    height: 110px;
    /*background-color: rgba(255, 255, 255, 0.6);*/
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.home-login {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding-bottom: 15px;
}

.logo {
    filter: invert(1);
}


.eslogan {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 60px;
    line-height: 1.5em;
    color: white;
    font-weight: bold;
    
}


.article-section {
    height: 700px;  
    /*background-color:*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.box{
    text-align: center;
    width: 60%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box > h2 {
    font-size: 3rem;
}


.border-bottom {
    border-bottom: 1px solid rgb(143, 143, 143);
}


.box > div > p {
    font-weight: 100;
    margin-top: 15px;
}

.span-faqs {
    margin-top: 100px;
}

.background-main{
    background-color: rgb(75, 75, 75)
}


/*////////////////////////////////SIGNUP*/

::-webkit-input-placeholder {color: rgb(41, 41, 41);} 
	
:focus::-webkit-input-placeholder{color:transparent;}
 

.categoria{
    display: block;
    color: rgb(41, 41, 41);
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.signup-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.form-signup{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-signup > input {
    width: 100%;
    /*border-radius: 5px;*/
    border: 0;
    margin-bottom: 15px;
    color: black;
    font-size: 1rem;
    border-radius: 5px;
    height: 35px;
}

.signup-div > h2 {
    margin-bottom: 30px;
}

.link-login {
    margin-top: 30px;
}


.button {
    margin-top: 25px;
    padding: 5px 20px;
    color: rgb(41, 41, 41);
    font-size: 1rem;
    border-radius: 5px;
}

option {
    color: rgb(41, 41, 41);
    border: 0;
}

.errors-container > p {
    padding: 5px 10px;
    background-color: brown;
    margin: 10px;
}

.errors-container p.correct-message {
    background-color: rgb(47, 164, 93);
    
}

/*////////////////////////////LOGIN//////////////*/



/*/////////////////////////////FAQS/////////////////////*/

.faqs{
    height: 600px;
}

.faq{
    padding: 5px 15px;
}

.faq-question > h3{
    font-size: 1.2rem;
    font-weight: 100;
    width: 80%;    
}

.faq-question {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(150,150,150);
    padding: 5px 10px;
}

.faq-question > .faq-arrow{
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    transform: rotate(45deg);
    transition: all ease 0.6s; 
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: rgb(150,150,150);
}

.faq-answer{
    height: 0;
    opacity: 0;    
    overflow: hidden;
    transition: all ease 0.8s; 
    padding: 5px 15px;  
    font-size: 1.2rem; 
}

.faqs > .toggle-faq-on > .faq-answer {
    height: auto;
    opacity:1;
    transition: all ease 0.8s;
    padding: 5px 15px;
    font-size: 1.2rem;
}

.faqs > .toggle-faq-on > .faq-question > .faq-arrow {
    transform: rotate(225deg);
    transition: all ease 0.6s;
}


@media screen and (min-width: 768px){
    .navbar{
        height: 110px;
        /*background-color: rgba(255, 255, 255, 0.6);*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 25px;
    }

  
    .border-bottom {
        border-bottom: 0;
        border-right: 1px solid rgb(143, 143, 143);
    }
    
    .article-section{
        flex-direction: row;
        height: 250px;
        
    }

    .box{
        align-items: flex-start;
        padding: 0 15px;
    }

    .form-signup {
        width: 320px;
    }

   .faqs{
       width:60%;
       margin: 0 auto;
   }
}

